volumes:
  minio_data:
    name: minio_data
    driver: local

networks:
  minio_net:
    name: minio_net
    driver: bridge

services:
  minio:
    image: minio/minio:latest
    container_name: console.s3.jjuidev.com
    restart: unless-stopped
    networks:
      - minio_net
    volumes:
      - minio_data:/data
    env_file:
      - .env
    ports:
      - ${PORT:-9000}:9000
      - ${CONSOLE_PORT:-9001}:9001
    command: server /data --console-address ":9001"
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:9000/minio/health/ready']
      interval: 30s
      timeout: 10s
      retries: 3
