volumes:
  minio_data:

networks:
  minio_net:

services:
  minio:
    image: minio/minio:latest
    container_name: minio
    restart: unless-stopped
    networks:
      - minio_net
    volumes:
      - minio_data:/data
    env_file:
      - .env
    ports:
      - ${CONTAINER_PORT:-9000}:9000
      - ${CONTAINER_CONSOLE_PORT:-9001}:9001
    command: server /data --console-address ":9001"
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:9000/minio/health/ready']
      interval: 30s
      timeout: 10s
      retries: 3
