volumes:
  minio_data:

networks:
  minio_net:

services:
  nginx:
    image: nginx:latest
    container_name: s3.jjuidev.com.nginx.conf
    restart: no
    networks:
      - minio_net
    volumes:
      - $PWD/docker/s3.jjuidev.com.nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - /etc/nginx/sites-available/s3.jjuidev.com.nginx.conf:/etc/nginx/conf.d/default.conf:ro

  minio:
    image: minio/minio:latest
    container_name: s3.jjuidev.com
    restart: unless-stopped
    working_dir: /home/jjuidev/jjuidev-vps/data/minio
    networks:
      - minio_net
    volumes:
      - minio_data:/home/jjuidev/jjuidev-vps/data/minio
    env_file:
      - .env
    ports:
      - '${MINIO_PORT:-9000}:${MINIO_HOST_PORT:-9000}'
      - '${MINIO_CONSOLE_PORT:-9001}:${MINIO_CONSOLE_HOST_PORT:-9001}'
    command: server /home/jjuidev/jjuidev-vps/data/minio --console-address ":${MINIO_CONSOLE_HOST_PORT:-9001}"
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:${MINIO_HOST_PORT:-9000}/minio/health/ready']
      interval: 30s
      timeout: 10s
      retries: 3
