volumes:
  minio_data:

networks:
  minio_net:

services:
  minio:
    image: minio/minio:latest
    container_name: console.s3.jjuidev.com
    restart: unless-stopped
    networks:
      - minio_net
    volumes:
      - minio_data:/home/jjuidev/jjuidev-vps/data/minio
    env_file:
      - .env
    ports:
      - ${PORT:-9000}:${PORT_HOST:-9000}
      - ${CONSOLE_PORT:-9001}:${CONSOLE_PORT_HOST:-9001}
    command: server /home/jjuidev/jjuidev-vps/data/minio --console-address ":${CONSOLE_PORT:-9001}"
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:${PORT_HOST:-9000}/minio/health/ready']
      interval: 30s
      timeout: 10s
      retries: 3
