name: Deployment s3.jjuidev.com/minio by MinIO

on:
  push:
    branches:
      - develop
      - production

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: ${{ github.ref_name }}
    if: ${{ contains(github.event.head_commit.message, format('deploy to {0} - ', github.ref_name)) }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install envsubst
        run: |
          sudo apt update
          sudo apt install -y gettext-base

      - name: Prepare docker environment file on runner
        env:
          MINIO_ROOT_USER: ${{ secrets.MINIO_ROOT_USER }}
          MINIO_ROOT_PASSWORD: ${{ secrets.MINIO_ROOT_PASSWORD }}
          MINIO_SERVER_URL: ${{ secrets.MINIO_SERVER_URL }}
          MINIO_BROWSER_REDIRECT_URL: ${{ secrets.MINIO_BROWSER_REDIRECT_URL }}

          CONTAINER_PORT: ${{ secrets.CONTAINER_PORT }}
          CONTAINER_CONSOLE_PORT: ${{ secrets.CONTAINER_CONSOLE_PORT }}
        run: |
          envsubst < docker/.env.template > docker/.env

      - name: Update repository
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.VPS_JJUIDEV_2230_HOST }}
          port: ${{ secrets.VPS_JJUIDEV_2230_PORT }}
          username: ${{ secrets.VPS_JJUIDEV_2230_USERNAME }}
          key: ${{ secrets.VPS_JJUIDEV_2230_SSH_KEY }}
          script: |
            ssh-keyscan -H github.com >> ~/.ssh/known_hosts

            cd /home/jjuidev/jjuidev-vps || exit 1

            if [ -d minio/.git ]; then
              cd minio

              git fetch --prune origin ${{ github.ref_name }} >/dev/null 2>&1
              git reset --hard origin/${{ github.ref_name }} >/dev/null 2>&1

              git branch -D ${{ github.ref_name }} 2>/dev/null || true
              git checkout -b ${{ github.ref_name }} origin/${{ github.ref_name }} 2>/dev/null || true
            else
              git clone -b ${{ github.ref_name }} git@github.com-jjuidev:jjuidev-vps/minio.git minio || exit 1
              cd minio
              
              git config pull.rebase false
              git config user.name "jjuidev"
              git config user.email "jjuidev@gmail.com"
            fi

      - name: Copy docker environment file
        uses: appleboy/scp-action@v1
        with:
          host: ${{ secrets.VPS_JJUIDEV_2230_HOST }}
          port: ${{ secrets.VPS_JJUIDEV_2230_PORT }}
          username: ${{ secrets.VPS_JJUIDEV_2230_USERNAME }}
          key: ${{ secrets.VPS_JJUIDEV_2230_SSH_KEY }}
          source: 'docker/.env'
          target: '/home/jjuidev/jjuidev-vps/minio'

      - name: Start Docker containers
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.VPS_JJUIDEV_2230_HOST }}
          port: ${{ secrets.VPS_JJUIDEV_2230_PORT }}
          username: ${{ secrets.VPS_JJUIDEV_2230_USERNAME }}
          key: ${{ secrets.VPS_JJUIDEV_2230_SSH_KEY }}
          script: |
            cd /home/jjuidev/jjuidev-vps/minio || exit 1
            chmod 600 docker/.env

            docker compose -f docker/docker-compose.yml -p minio pull
            docker compose -f docker/docker-compose.yml -p minio down
            docker compose -f docker/docker-compose.yml -p minio up -d --remove-orphans
