name: s3.jjuidev.com - Host S3 by MinIO deployment to VPS

on:
  push:
    branches: ['develop']

jobs:
  deploy-develop:
    runs-on: ubuntu-latest
    environment: develop
    steps:
      - name: Checkout repository
        uses: actions/checkout@master
        with:
          fetch-depth: 1

      - name: Install envsubst
        run: |
          sudo apt update
          sudo apt install -y gettext-base

      - name: Prepare docker environment file on runner
        env:
          MINIO_ROOT_USER: ${{ secrets.MINIO_ROOT_USER }}
          MINIO_ROOT_PASSWORD: ${{ secrets.MINIO_ROOT_PASSWORD }}
          PORT: ${{ secrets.PORT }}
          PORT_HOST: ${{ secrets.PORT_HOST }}
          CONSOLE_PORT: ${{ secrets.CONSOLE_PORT }}
          CONSOLE_PORT_HOST: ${{ secrets.CONSOLE_PORT_HOST }}
        run: |
          # generate docker/.env from template using envsubst
          envsubst < docker/.env.template > docker/.env

      - name: Update repository on VPS
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VPS_HOST }}
          port: ${{ secrets.VPS_SSH_PORT }}
          username: ${{ secrets.VPS_USERNAME }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            ssh-keyscan -H github.com >> ~/.ssh/known_hosts

            cd /home/jjuidev/jjuidev-vps || exit 1

            if [ -d minio/.git ]; then
              echo "Repository exists → updating code"
              cd minio
              git reset --hard origin/develop && git clean -df
              git branch -D develop-temp || true
              git checkout -b develop-temp
              git branch -D develop || true
              git fetch origin develop
              git checkout develop
            else
              echo "Repository not found → cloning"
              git clone -b develop git@github.com-jjuidev:jjuidev-vps/minio.git || exit 1
              cd minio
              
              git config pull.rebase false
              git config user.name "jjuidev"
              git config user.email "jjuidev@gmail.com"
            fi

      - name: Copy docker environment file to VPS
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.VPS_HOST }}
          port: ${{ secrets.VPS_SSH_PORT }}
          username: ${{ secrets.VPS_USERNAME }}
          key: ${{ secrets.VPS_SSH_KEY }}
          source: 'docker/.env'
          target: '/home/jjuidev/jjuidev-vps/minio'

      - name: Start MinIO Docker containers and cleanup environment file
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VPS_HOST }}
          port: ${{ secrets.VPS_SSH_PORT }}
          username: ${{ secrets.VPS_USERNAME }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            cd /home/jjuidev/jjuidev-vps/minio || exit 1
            chmod 600 docker/.env

            docker compose -f docker/docker-compose.yml down --remove-orphans
            docker compose -f docker/docker-compose.yml up -d

            rm -f docker/.env
